@tailwind base;
@tailwind components;
@tailwind utilities;


  .admin_sidebar::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }

  .admin_sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .admin_sidebar::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 5px; /* Rounded corners */
  }

  .admin_sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }


/* .spinners {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px solid black;
  border-top-color: transparent;
  animation: rot1 2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Chrome, Safari and Opera */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#card_title {
  display: -webkit-box; /* Use for multi-line text truncation */
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Set box orientation to vertical */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
}
.list {
  border: 1px solid #fff;
  padding: 5px;
}
.page-item a.active {
  background: #f87171;
}
.pagination {
  display: flex;
  border: 1px solid #fff;
  justify-content: space-between;
  padding: 20px;
}

.pagination button {
  padding: 10px;
}

.active {
  background: #f87171;
  color: #fff;
  border: 1px solid #fff;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 640px) {
  #other_info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  #other_info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 344px) {
  #other_info {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
