@tailwind base;
@tailwind components;
@tailwind utilities;

/* .spinners {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px solid black;
  border-top-color: transparent;
  animation: rot1 2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Chrome, Safari and Opera */


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


